<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\inetpub\rabbit-mq\venv\Scripts\python.exe"
                  arguments="app.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\inetpub\rabbit-mq\logs\stdout.log"
                  startupTimeLimit="20" />
  </system.webServer>
</configuration>
